@page
@model Ignis.Pages_Contracts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Contracts</h1>
@if(Model.ApplicationUser.Role=="Cliente")
{
<p>
    <a asp-page="CreateByDay">Create Contract by Day</a>
</p>
<p>
    <a asp-page="CreateByHour">Create Contract by Hours</a>
</p>

}

<table class="table">
    <thead>
        <tr>
            <th>
                BaseCost
            </th>
            <th>
                Time
            </th>
            <th>
                TotalCost
            </th>
            <th>
                Technician
            </th>
            <th>
                Client
            </th>
        </tr>
    </thead>
    <tbody>

            @foreach(var item in Model.ApplicationUser.Contracts)
            {
                <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.BaseCost)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Technician.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Client.Name)
                </td>
            @if(Model.ApplicationUser.Role=="Cliente")
            {
                <td>
                    <a asp-page="./Delete" asp-route-idClient="@Model.ApplicationUser.Id"
                    asp-route-idTechnician="@item.TechnicianId">Delete</a>
                </td>
            }
            </tr>
            }

    </tbody>
</table>
