@page
@model Ignis.Pages.AssignRoles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                AverageRanking
            </th>
            <th>
                Available
            </th>
            <th>
                WorkedHours
            </th>
            <th>
                TotalWorks
            </th>
            <th>
                Name
            </th>
             <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tecnico.Tecnicos) {
     string selectedRow = "";
            if (item.Id == Model.TecnicoID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.AverageRanking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkedHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWorks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @{
                        foreach (var role in item.RoleWorker)
                        {
                            @role.ID @:  @role.Title <br />
                        }
                    }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
