@page
@model Ignis.Pages.AssignRoles.IndexModel

@{
    ViewData["Title"] = "Technicians";
}

<h1>Technicians</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
             <th>
                Name
            </th>
            <th>
                AverageRanking
            </th>
            
            <th>
                TotalWorks
            </th>
           
            <th>
                Available
            </th>
             <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tecnico.Technicians) {
     string selectedRow = "";
            if (item.Id == Model.TecnicoID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
            <td>
                
                @Html.DisplayFor(modelItem => item.Name)
              
            </td>
            <td>
                 
                @Html.DisplayFor(modelItem => item.AverageRanking)
               
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TotalWorks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td> 
            <td>
                    @{
                        foreach (var role in item.WorkersWithRole)
                        {
                            @role.RoleWorker.Title @:  @role.RoleWorker.Level <br />
                        }
                    }
            </td>
            <td>
                <a asp-page="./Assign" asp-route-id="@item.Id">Assign</a> |
                 <a asp-page="./Edit" asp-route-IdTechnician="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-IdTechnician="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
