@page
@model Ignis.Pages_AdminContracts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="CreateByDay">Create By Day</a>
</p>
<p>
    <a asp-page="CreateByHour">Create By Hour</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].BaseCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Client)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contract) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaseCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id1="@item.ClientId" asp-route-id2="@item.TechnicianId">Edit</a> |
                <a asp-page="./Details" asp-route-id1="@item.ClientId" asp-route-id2="@item.TechnicianId">Details</a> |
                <a asp-page="./Delete" asp-route-id1="@item.ClientId" asp-route-id2="@item.TechnicianId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
